.contenedor {
  padding: 25px;
  max-width: 1100px;
  margin: auto;
}

.titulo {
  color: #003060;
  font-size: 1.9rem;
  letter-spacing: -0.5px;
  margin-bottom: 15px;
}

.status-box {
  color: white;
  padding: 18px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 1.3rem;
  font-weight: 700;
  box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.datos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 15px;
  margin-bottom: 25px;
}

.dato-card {
  background: white;
  border-left: 5px solid #C9A227;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.1);
  color: #003060;
}

/* GOOGLE MAP */
#googleMap {
  width: 100%;
  height: 450px;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0px 3px 14px rgba(0,0,0,0.2);
  overflow: hidden;
}
.input-zonas {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-zonas input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 150px;
}

.input-zonas button {
  background: #004AAD;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.input-zonas button:hover {
  background: #003680;
}
