.card {
  background: white;
  border-radius: 14px;
  padding: 20px;
  max-width: 420px;
  margin: auto;
  box-shadow: 0 6px 18px rgba(0,0,0,0.15);
  border-left: 6px solid #C9A227;
}

h2 {
  color: #003060;
  text-align: center;
  margin-bottom: 15px;
}

p {
  font-size: 1.1rem;
  margin: 6px 0;
  color: #003060;
}
