.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 230px;
  height: 100vh;
  background: #0b1739;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-shadow: 4px 0 12px rgba(0,0,0,0.25);
}

.top-section {
  text-align: center;
  margin-bottom: 2rem;
}

.avatar {
  font-size: 3.2rem;
}

.rol-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #93c5fd;
}

.menu {
  flex-grow: 1;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 0.7rem;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.menu-item:hover {
  background: rgba(255,255,255,0.15);
}

.icono {
  font-size: 1.5rem;
  margin-right: 0.8rem;
}

.titulo {
  font-size: 1rem;
  font-weight: 500;
}

.bottom-section {
  margin-top: 1rem;
}

.logout {
  width: 100%;
  padding: 0.7rem;
  background: #ef4444;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}
.logout:hover {
  background: #dc2626;
}
